<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="people"></ion-icon> fornecedores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">fornecedores</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list class="ion-padding">
    <ion-item-sliding *ngFor="let fornecedor of fornecedores; index as i">
      <ion-item>
        <ion-text>
          <ion-label>{{ fornecedor.nome }}</ion-label>
          <ion-note>{{ fornecedor.endereco }}</ion-note>
        </ion-text>
        <ion-note color="secondary" slot="end">{{ fornecedor.telefone }}</ion-note>
      </ion-item>

      <ion-item-options>
        <ion-item-option color="tertiary" (click)="editFornecedor(fornecedor)" id>Editar</ion-item-option>
        <ion-item-option color="danger" (click)="deleteFornecedor(fornecedor.nome)">Apagar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-modal [isOpen]="isModalOpen" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Novo Fornecedor</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Salvar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            label="Nome"
            labelPlacement="stacked"
            type="text"
            placeholder="digite o nome"
            [(ngModel)]="fornecedor.nome"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Endereço"
            labelPlacement="stacked"
            type="text"
            placeholder="digite o endereço"
            [(ngModel)]="fornecedor.endereco"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Telefone"
            labelPlacement="stacked"
            type="text"
            placeholder="digite o telefone"
            [(ngModel)]="fornecedor.telefone"
          ></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>


  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="setOpen(true)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
